.h {
    font-size: 0.7em;
    /*  width: 100%; */
    white-space: nowrap;
    border: 1px solid black;
}

.v {
    -webkit-writing-mode:vertical-rl;
    -ms-writing-mode:tb-rl;
    writing-mode:vertical-rl;
    font-size: 0.6em;
    white-space: nowrap;
    text-align: center;
}

.g { /* grouping up */
    font-size: 0.7em; border: 1px solid black;
}


/* Cell spacing */
table {
    border-spacing: 1px;
    border-collapse: collapse;
}

table, tr, td { padding: 1px; }

.legend {
    right: 0px;
    top: 45px;
    cursor: pointer;
    display: block;
    float: right;
    position: absolute;
    z-index: 3;
}

td.s, th.s { /* spacer */
    width: 0.2em;
    border-left: thin solid black;
    border-right: thin solid black;
}

td:not(.s) {
    min-width: 0.6em;
}

td.unknown { background: black; }
td.unknown div { border: 1px solid black; }

/* Subtle patterns to aid users with color vision deficiency. */
.legend .pass,
tr:nth-child(odd)  .pass div { background-color: #30ff30; }
tr:nth-child(even) .pass div { background-color: #20e820; }

.legend .skip,
tr:nth-child(odd)  .skip div {  background: linear-gradient(91deg, #b0b0b0 2px, transparent 1%) center, linear-gradient(#b0b0b0 2px, transparent 1%) center, #909090; }
tr:nth-child(even) .skip div {  background: linear-gradient(91deg, #a0a0a0 2px, transparent 1%) center, linear-gradient(#a0a0a0 2px, transparent 1%) center, #808080; }
.legend .skip,
tr td .skip div { background-size: 4px 4px; background-position: 3px; }

.legend .notrun,
tr:nth-child(odd)  .notrun div { background-color: #e0e0e0; }
tr:nth-child(even) .notrun div { background-color: #d0d0d0; }

.legend .dmesg-warn, .legend .warn,
tr:nth-child(odd)  .dmesg-warn div,
tr:nth-child(odd)  .warn div { background: linear-gradient(to right bottom, #ff9020 50%, #df7000 50%); }
tr:nth-child(even) .dmesg-warn div,
tr:nth-child(even) .warn div { background: linear-gradient(to right bottom, #ef8212 50%, #cf6000 50%); }

.legend .dmesg-fail, .legend .fail,
tr td.dmesg-fail div,
tr td.fail div  { background: linear-gradient(to left bottom, #ff2020 50%, #ba0000 50%); }

.legend .timeout,
tr:nth-child(odd)  .timeout div { background-color: #83bdf6; }
tr:nth-child(even) .timeout div { background-color: #4a9ef2; }

.legend .crash, .legend .trap,
tr:nth-child(odd)  .crash div,
tr:nth-child(odd)  .trap  div { background-color: #111111; color: white; }
tr td.crash div,
tr:nth-child(even) .trap  div { background-color: #000000; color: white; }

.legend .incomplete,
tr:nth-child(odd)  .incomplete div { background-color: #853385; color: white; }
tr:nth-child(even) .incomplete div { background-color: #652365; color: white; }

.legend .abort,
tr td .abort div {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' id='svg836' version='1.1' width='10' height='10'%3E%3Crect style='fill:%23993a99;' id='rect835' width='10' height='10' x='0' y='0' /%3E%3Cpath style='fill:none;stroke:%23000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' d='M -1,-1 11,11' id='path837' /%3E%3Cpath style='fill:none;stroke:%23000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' d='M -1,11 11,-1' id='path839' /%3E%3C/svg%3E%0A");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

table div a { display: block; }

/*
Tooltip needs to be far enough from cursor to allow fast scan of adjanced cells.
This in turn removes possibility of going over tooltip ('hovering') but that's bad
UI design because of the accuracy needed.
*/

div.tooltip span {
	z-index:10;
	display:none;
	padding:0px 10px;
	margin-top:50px;
	margin-left:-350px;
	line-height: 1em;
}

div.tooltip:hover span{
	display:inline;
	position:absolute;
	font-size: 0.8em;
	border:2px solid black;
	color:black;
	background:white repeat-x 0 0;
}

.callout { z-index:20; position:absolute; border:0; top:-14px; left:120px; }

@keyframes opaque {
    0%    { opacity: 0.0; }
    30%   { opacity: 1.0; }
    60%   { opacity: 0.0; }
    100%  { opacity: 0.0; }
}

.sq {
    float: left;
    width: 24px; height: 24px;
    opacity: 0.0;
    animation-name: opaque;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#filelist td {
    padding-left: 10px;
}

canvas {
    display: block;
}

.ctxmenu {
    width: 140px;
    background: white;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: block;
    border-radius: 5px 20px 5px 20px;
}

.ctxmenu-options {
    list-style: none;
    padding: 0px 0;
}

.ctxmenu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    white-space:nowrap;
}

.ctxmenu-option:hover {
    background: rgba(0, 0, 0, 0.4);
}
